.form-horizontal {
    width: 500px;
    margin: 0 auto
}
.addNew {
    float: right;
    background-color: #3f51b5 !important
}
.btn-primary {
    color: #3f51b5 !important
}
.form-group.has-error1 .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}
.form-group.has-error1.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2)
}
.form-group.has-error1 label.control-label, .form-group.has-error1 .help-block {
    color: #f44336
}

#cancel {
    display: none
}

td:first-child {
    display: block !important;
    overflow: hidden;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

#doc {
    height: 300px;
}

.link {
    float: right;
}

.table > tbody > tr:first-child td {
    border: 0 !important;
}
.label-floating{
    display: block !important;
    float: inherit;
    margin-right: 0px !important;
    margin-left: 0 !important;
}
.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label{
top:-17px;
}
.btn-primary{
float: right;
}

.pagination-container {
    margin: 0 auto;
    text-align: center;
}
.container{
    width: 95% !important;
    margin: 0 auto;
}
#searchForm{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
tr th:nth-child(2){
    text-align: center;
}
.search-button{
    float: right;
    margin-top: 19px;

}
